h1{
  background-color: black;
  color: blue;
}

h2{
  text-align: center;
  background-color: yellow;
  color: green;
}

ul{
  font-family: 'Courier New', Courier, monospace;
  line-height: 50px;
  font-weight: 40px;
}